body {
  color: #49393c;
  background-color: #f8afa6;
}

.weather-app {
  background-color: #e7d2cc;
  border-radius: 3px;
  margin: 50px auto;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0px 20px 50px 0px;
}
.search-form-input {
  background-color: #dcf0ea;
  margin: 0px auto;
  padding: 10px;
  border-color: #dcf0ea;
  border-radius: 5px;
  width: 80%;
}
.search-form-button {
  background-color: rgb(27, 95, 72);
  color: #dcf0ea;
  padding: 10px;
  border-radius: 5px;
}
.city {
  color: rgb(27, 95, 72);
  font-size: 40px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 50px 0px 0px 0px;
}
.weather-app-container {
  position: relative;
  top: -150px;
  left: 350px;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-app-unit {
  margin: -5px;
  position: relative;
  bottom: 30px;
  font-size: 38px;
}
.details {
  color: #72726e;
  font-size: large;
  padding: 20px 0px 0px 0px;
}
.figures {
  color: red;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.weather-forecast-date {
  font-size: large;
  color: #72726e;
}
.weather-forecast-icon {
  font-size: 38px;
}
.weather-forecast-temperatures {
  color: red;
}
.weather-forecast-minimum {
  opacity: 0.5;
}
